<div class="center-div">
  <h2>Add a new url </h2>
  <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div>Name is required</div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>url</label>
        <input type="url" formControlName="url" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.url.errors }" />
        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
          <div *ngIf="f.url.errors.required">Url is required</div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>

      </div>
    </form>
  </div>
  <br>
  <div class="short-url">
    <a href="{{shortUrl}}">{{ shortUrl }}</a>
  </div>
</div>